@import 'tailwindcss';

:root {
  --dark-green: #33610f;
  --light-green: #fffbeb;
  --black: #000000;
}

@theme inline {
  --color-dark-green: var(--dark-green);
  --color-light-green: var(--light-green);
  --color-black: var(--black);
}

body {
  background: var(--light-green);
  color: var(--black);
  font-family: var(--font-poppins-sans), Arial, Helvetica, sans-serif;
}

.genty {
  font-family:
    var(--font-genty), var(--font-poppins-sans), Arial, Helvetica, sans-serif;
}
