@import "tailwindcss";

:root {
  --dark-green: #33610F;
  --light-green: #FFFBEB;
  --black: #000000;
}

@theme inline {
  --color-dark-green: var(--dark-green);
  --color-light-green: var(--light-green);
  --color-black: var(--black);
}

body {
  background: var(--light-green);
  color: var(--black);
  font-family: Arial, Helvetica, sans-serif;
}
